<a href="https://colab.research.google.com/github/Sergey854223/labs_of_ii/blob/main/lab2/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание**:
Создать фрейм данных из N записей со следующими полями: Nrow – номер записи, Name – имя сотрудника, BirthYear – год рождения, EmployYear – год приема на работу, Salary – зарплата. Заполнить данный фрейм данными так, что Nrow изменяется от 1 до N. Name задается произвольно, BirthYear распределено равномерно (случайно) на отрезке [1965, 1990], EmployYear распределен равномерно на отрезке [BirthYear+18, 2006], Salary задается произвольно в интервале от 10000 до 30000. Подсчитать число сотрудников с зарплатой, больше 15000. 
Добавить в таблицу поле, соответствующее суммарному подоходному налогу (ставка 13%), выплаченному сотрудником за время работы в организации.

In [1]:
# исходное число записей и последовательность для нумерации
N <- 100
Nrow <- 1:N

In [2]:
# формирование вектора случайно сгенерированных имен
gen_name <- function(x) {
  # lists of names examples
  name_list <- c("Иван", "Николай", "Никита", "Роман")
  surname_list<- c("Григорьев", "Самороков", "Орлов", "Рубин")
  
  names_len <- length(name_list)
  
  emp_name <- paste(
    name_list[sample(1:names_len, 1)], 
    surname_list[sample(1:names_len, 1)]
  )
  emp_name
}

Name <- sapply(Nrow, gen_name)

In [3]:
# остальные вектора
gen_empl_year <- function(birthday) {
  sample((birthday + 18):2006, 1)
}

BirthYear <- sample(1965:1990, N, replace=T)

EmployYear <- sapply(BirthYear, gen_empl_year)

Salary <- sample(10000:30000, N, replace=T)

In [4]:
# собираем датафрейм и выводим его
df <- data.frame(
  Nrow=Nrow,
  Name=Name,
  BirthYear=BirthYear,
  EmployYear=EmployYear,
  Salary=Salary
)

head(df)

  Nrow Name            BirthYear EmployYear Salary
1 1    Иван Орлов      1976      1999       29779
2 2    Иван Орлов      1990      2008       28903
3 3    Роман Григорьев 1975      1998       25647
4 4    Николай Орлов   1987      2005       22513
5 5    Роман Орлов     1973      1991       22306
6 6    Иван Самороков  1979      2001       21723

In [5]:
salary_cmp_count <- nrow(df[df$Salary > 15000,])
cat(sprintf("Число сотрудников с зарплатой, больше 15000: %i", salary_cmp_count))

Число сотрудников с зарплатой, больше 15000: 76

In [6]:
# расчет суммарного подоходного налога за все время работы в организации
currrent_year <- as.numeric(format(Sys.Date(), format="%Y"))
df$TotalIncomeTax <- with(df, (currrent_year - EmployYear)*Salary*0.13)

# финальный результат
head(df)

  Nrow Name            BirthYear EmployYear Salary TotalIncomeTax
1 1    Иван Орлов      1976      1999       29779  89039.21
2 2    Иван Орлов      1990      2008       28903  52603.46
3 3    Роман Григорьев 1975      1998       25647  80018.64
4 4    Николай Орлов   1987      2005       22513  49753.73
5 5    Роман Орлов     1973      1991       22306  89893.18
6 6    Иван Самороков  1979      2001       21723  59303.79